body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dbdada5e;
}
main{
    padding: 20px;
}
#logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
#addListing {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#exit{
    width:17px;
    cursor: pointer;
    margin-bottom:-3px;
}
.listings-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.listing {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.listing img {
    max-width: 100%;
    height: auto;
    object-fit:fill;
    aspect-ratio: 16/9;
}
.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-controls span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.pagination-controls .disabled{
    background-color: #007bff57;
    color: #fff;
    cursor: default;
    pointer-events: none;
}
.price{
    color: #007bff98;
}
#info{
    display: flex;
    justify-content: space-between;
    color: rgb(107, 107, 107);
    font-size: smaller;
    margin-bottom: 10px;
}
#info label{
    font-size: smaller;
}
p{
    margin: 0;
    display: inline;
}
select{
    background-color: #dbdada5e;
    border-radius: 4px;
    border: 0;
    padding: 2px;
    font-size: smaller;
}
option{
    background-color: #f9f9f9;
}